body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: 50px;
    background-image: url("table.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-btn {
    width: auto;
    background-color: goldenrod;
    color: #016f32;
    font-size: 40px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;

}